<div>
	<div ng-show="(warning = item.check()) && (warning !== false)" class='alert alert-warning'>{{warning}}</div>
	<table class="authorlist editable-table">
		<tbody>
		<tr ng-repeat="(index, translation) in item.value track by $index" class="row">
			<td style="width: 10%">

				<span uib-dropdown style="cursor:pointer">
					<span uib-dropdown-toggle>{{translation.locale ? translation.locale : 'default locale'}}<b class="caret"></b></span>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li ng-repeat="slocale in item.locales track by $index"><a ng-click="item.switchLocale(index, slocale)" href="#">{{slocale}}</a></li>
					</ul>
				</span>

			</td>
			<td>
				<textarea class='editable' ng-model='translation.text'></textarea>
			</td>
			<td>
				<span class='btn btn-default btn-xs' ng-click='item.delRow($index)' data-tooltip='delete translation'>
					<span class='glyphicon glyphicon-minus-sign'></span>
				</span>
			</td>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td colspan='3'>
				<span ng-repeat="loc in item.getRemainingLocales()" class='btn btn-default btn-xs' ng-click="item.addRow('', loc)"
					  data-tooltip='add text in {{loc}}'>
					{{loc}}<span class='glyphicon glyphicon-plus-sign'></span>
				</span>
			</td>
		</tr>
		</tfoot>
	</table>
	<!-- languages are not presented as flags http://www.flagsarenotlanguages.com/blog/why-flags-do-not-represent-language/ -->
</div>